.splide__arrows {
    position: absolute;
    inset: 0;
}

.splide__pagination.custom__pagination {
    bottom: -10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

@media (min-width: 768px) {
    .splide__pagination.custom__pagination {
        bottom: -30px;
    }
}

@media (min-width: 1024px) {
    .splide__pagination.custom__pagination {
        bottom: -50px;
    }
}

.splide__pagination__page.custom__pagination-page {
    height: 13px;
    width: 15px;
    border-radius: 0;
    background: url('/icons/slider-bullet.svg') no-repeat center / cover;
    opacity: 1;
    transition: transform 0.3s ease-in-out;
}

.splide__pagination__page.custom__pagination-page:hover {
    transform: scale(1.25);
}

@media (min-width: 768px) {
    .splide__pagination__page.custom__pagination-page {
        height: 17px;
        width: 20px;
    }
}

@media (min-width: 1024px) {
    .splide__pagination__page.custom__pagination-page {
        height: 21px;
        width: 24px;
    }
}

@media (min-width: 1280px) {
    .splide__pagination__page.custom__pagination-page {
        height: 25px;
        width: 29px;
    }
}

.splide__pagination__page.custom__pagination-page.is-active {
    transform: scale(1);
    background: url('/icons/slider-bullet-active.svg') no-repeat center / contain;
    background-origin: inherit;
}

.splide__arrow,
.splide__pagination__page {
    background: transparent;
}

.splide__arrow svg,
.splide__pagination__page svg {
    fill: currentColor;
}

.splide__arrow.custom__arrow {
    top: 100%;
    height: 44px;
    width: 33px;
    border-radius: 0;
    transition: transform 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .splide__arrow.custom__arrow {
        height: 57px;
        width: 45px;
    }
}

@media (min-width: 1024px) {
    .splide__arrow.custom__arrow {
        height: 65px;
        width: 50px;
    }
}

.splide__arrow.custom__arrow svg {
    height: 100%;
    width: 100%;
}

.splide__arrow--prev.custom__arrow-prev {
    left: 50%;
    transform: translateX(var(--tw-arrow-translate));
    transition: transform 0.3s ease-in-out;
}

.splide__arrow--prev.custom__arrow-prev:hover {
    transform: translateX(calc(var(--tw-arrow-translate) - 5px));
}

.splide__arrow--next.custom__arrow-next {
    right: 50%;
    transform: translateX(var(--tw-arrow-translate));
    transition: transform 0.3s ease-in-out;
}

.splide__arrow--next.custom__arrow-next:hover {
    transform: translateX(calc(var(--tw-arrow-translate) + 5px));
}

.underline-wave::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    width: 100%;
    height: clamp(15px, calc(15px + 10 * (100vw - 375px) / 1065), 25px);
    background: url('/icons/underline.svg') no-repeat center / 100% 100%;
}

@media (min-width: 768px) {
    .underline-wave::after {
        bottom: -15px;
    }
}

@media (min-width: 1024px) {
    .underline-wave::after {
        bottom: -20px;
    }
}
