/*слайдер*/

.about-us {
  .about__wrapper {
    @apply mx-auto flex flex-col items-center md:block
      px-[20px] py-[32px] lg:py-[52px] md:px-[clamp(20px,calc(20px+80*(100vw-768px)/672),100px)]  max-w-[1440px]
  }

  .about__card {
    @apply relative h-full rounded-xl
    bg-gray-900 transition-all duration-300 ease-in-out will-change-transform
    lg:hover:-translate-y-1 lg:hover:shadow-[0px_4px_10px_3px_rgba(255,255,255,0.15)]
    active:-translate-y-1 active:shadow-[0px_4px_10px_3px_rgba(255,255,255,0.15)]
  }
  .card__link {
    @apply text-balance text-[clamp(16px,calc(16px+4*(100vw-768px)/672),20px)]
    font-medium before:absolute before:inset-0 before:cursor-pointer
  }


  @media (width >= 768px) {
  .splide__slide:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    width: 0px;
    height: 100%;
    border-right: 1px dashed white;
  }
}
  @media (width >= 1024px) {
    .splide__slide:not(:last-child)::after {
      border-right: 2px dashed white;
      right: -2px;
    }
  }

  .splide__pagination.custom__pagination {
    @apply bottom-[-80px]
    gap-[3px]
    md:bottom-[-77px]
    xl:bottom-[-79px];
  }

  .splide__pagination__page.custom__pagination-page {
    @apply bg-[url('/icons/slider-bullet-light.svg')];
  }

  .splide__pagination__page.custom__pagination-page.is-active {
    @apply bg-[url('/icons/slider-bullet-active-light.svg')];
  }
  .splide__slide {
    @apply relative md:mr-[1px] lg:mr-[2px] items-stretch md:px-[10px] lg:px-[18px];
  }
  .splide__track {
    @apply mb-[130px] md:mb-[100px] overflow-visible overflow-x-clip;
  }

  .splide__arrow.custom__arrow {
    @apply -bottom-[90px] top-auto;
  }

}
