.help {
  background-color: hsl(var(--foreground));
  padding-top: 32px;
  padding-bottom: 32px;
  color: hsl(var(--background));
  padding: clamp(32px, calc(32px + 28 * (100vw - 768px) / 672), 60px)
    clamp(0px, calc(0px + 100 * (100vw - 768px) / 672), 100px);
}

.help .splide {
  height: 100%;
}

@media (min-width: 768px) {
  .help .splide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.help .splide__track {
  aspect-ratio: 1.42;
}

@media (min-width: 768px) {
  .help .splide__track {
    margin-bottom: 100px;
    aspect-ratio: 1.32;
  }
}

.help .splide__pagination.custom__pagination {
  gap: 3px;
}

@media (min-width: 768px) {
  .help .splide__pagination.custom__pagination {
    bottom: 35px;
  }
}

@media (min-width: 1024px) {
  .help .splide__pagination.custom__pagination {
    bottom: 33px;
  }
}

@media (min-width: 1280px) {
  .help .splide__pagination.custom__pagination {
    bottom: 30px;
  }
}

.help .splide__arrow.custom__arrow {
  top: auto;
}

@media (min-width: 768px) {
  .help .splide__arrow.custom__arrow {
    bottom: 21px;
  }
}

@media (min-width: 1024px) {
  .help .splide__arrow.custom__arrow {
    bottom: 16px;
  }
}

.help .splide__pagination__page.custom__pagination-page {
  background: url('/icons/slider-bullet-light.svg') no-repeat center / cover;
}

.help .splide__pagination__page.custom__pagination-page.is-active {
  background: url('/icons/slider-bullet-active-light.svg') no-repeat center /
    cover;
}

.dark .help .splide__pagination__page.custom__pagination-page {
  background: url('/icons/slider-bullet.svg') no-repeat center / cover;
}

.dark .help .splide__pagination__page.custom__pagination-page.is-active {
  background: url('/icons/slider-bullet-active.svg') no-repeat center / cover;
}

.help .help__wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 450px;
  flex-direction: column-reverse;
  gap: clamp(32px, calc(32px + 43 * (100vw - 375px) / 1065), 75px);
}

@media (min-width: 768px) {
  .help .help__wrapper {
    max-width: 1240px;
    flex-direction: row;
  }
}

.help .help__content {
  display: flex;
  width: 100%;
  max-width: 550px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: clamp(16px, calc(16px + 4 * (100vw - 768px) / 672), 20px);
}

@media (min-width: 768px) {
  .help .help__content {
    width: 45%;
    max-width: none;
    align-items: stretch;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
}

.help .help__title {
  margin-bottom: 32px;
  text-wrap: balance;
  font-size: clamp(40px, calc(40px + 24 * (100vw - 768px) / 672), 64px);
}

@media (min-width: 768px) {
  .help .help__title {
    margin-bottom: 40px;
  }
}

.help .help__subtitle {
  margin-bottom: 40px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .help .help__subtitle {
    margin-bottom: 60px;
  }
}

.help .help__text {
  margin-bottom: 24px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .help .help__text {
    margin-bottom: 32px;
  }
}

.help .splide-wrapper {
  width: 100%;
  align-self: stretch;
}

@media (min-width: 768px) {
  .help .splide-wrapper {
    width: 55%;
  }
}
