
.custom-splide .splide__pagination {
  position: static;
  margin-top: 10px;
}

.custom-splide .splide__pagination__page {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: #2C2A39;
  border-radius: 50%;
  transition: opacity 0.3s;
}

.custom-splide .splide__pagination__page.is-active {
  opacity: 1;
  background: #736E8F;
}
