.slider-label::after {
  @apply relative bottom-0 left-[10px] h-[clamp(15px,calc(15px+10*(100vw-375px)/1065),25px)] w-full bg-[url('/icons/underline.svg')] bg-contain bg-center bg-no-repeat content-[''] md:bottom-[-5px] lg:bottom-[-10px];
}

.splide__arrows {
  @apply absolute inset-0;
}

.splide__pagination.product__pagination {
  @apply bottom-[-10px] flex justify-center gap-[5px] lg:bottom-[-50px];
}

.splide__pagination__page.product__pagination-page {
  @apply h-[11px] w-[13px] 
  rounded-none bg-[url('/icons/slider-bullet.svg')] bg-cover bg-center bg-no-repeat opacity-100 transition-transform duration-300 ease-in-out hover:scale-125 md:h-[17px] md:w-[20px] lg:h-[21px] lg:w-[24px] xl:h-[25px] xl:w-[29px];
}

.splide__pagination__page.product__pagination-page.is-active {
  @apply scale-100 bg-[url('/icons/slider-bullet-active.svg')] bg-contain;
}

.splide__arrow,
.splide__pagination__page {
  svg {
    fill: currentColor;
  }
  @apply bg-[transparent];
}

.splide__arrow.product__arrow {
  @apply top-full h-[44px] w-[33px] rounded-none transition-transform duration-300 ease-in-out md:h-[57px] md:w-[45px] lg:h-[65px] lg:w-[50px];
}

.splide__arrow.product__arrow svg {
  @apply h-full w-full;
}

.splide__arrow--prev.product__arrow-prev {
  transform: translateX(var(--tw-arrow-translate));
  @apply left-1/2 transition-transform duration-300 ease-in-out;
}
.splide__arrow--prev:hover {
  transform: translateX(calc(var(--tw-arrow-translate) - 5px));
}

.splide__arrow--next.product__arrow-next {
  transform: translateX(var(--tw-arrow-translate));
  @apply right-1/2 transition-transform duration-300 ease-in-out;
}
.splide__arrow--next:hover {
  transform: translateX(calc(var(--tw-arrow-translate) + 5px));
}
